<main class="sub-main main-invited-speakers"></main>
<div class="program max-content-width fade-in">
  <div class="program-hl-wrapper flx-row">
  <h2 class="zilla-slab program-hl">Programme</h2>
  <div class="program-nav">
    {{#each (program)}}
      <a class="nested-link" href="#day{{add 1 @index}}">[ {{ date }} ]</a>
    {{/each}}
  </div>
  </div>
  <p>The official proceedings of SSR 2020 are available <a href="https://link.springer.com/book/10.1007/978-3-030-64357-7" target="_blank" rel="noopener noreferrer" class="nested-link">here.</p>
  <div class="program-wrapper">
    <span class="text-center">All times given in CET</span>
  {{#each (program)}}
    <div id="day{{add 1 @index}}" class="program-day">
    <h3 class="text-center program-date">{{ date }}</h3>
    {{#if welcome}}
    <div class="session">
              <div class="session-item flx-row">
            <span class="session-time">{{ welcome.time }}</span>
            <div class="session-copy flx-col">
              <h5 class="session-desc">{{ welcome.desc }}</h5>
            </div>

          </div>
    </div>
    {{/if}}
    {{#each sessions}}
    <div class="session">
      <h4 class="session-num text-center">Session {{add 1 @index}}</h4>
      <div class="session-items">
        {{#each this}}
          <div class="session-item flx-row">
            <span class="session-time">{{ time }}</span>
            <div class="session-copy flx-col">
              <h5 class="session-desc">{{ desc }}</h5>
              <p class="session-speakers">{{ speakers }}</p>
            </div>

          </div>
        {{/each}}
      </div>
    </div>
    {{/each}}
    </div>
  {{/each}}
  </div>
</div>
